---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Us - VIZEN Blog">
  <h1 class="text-4xl font-heading font-bold text-center mb-8">About VIZEN Blog</h1>
  <div class="max-w-3xl mx-auto">
    <p class="mb-6">
      VIZEN is your trusted source for evidence-based information on vitamins, supplements, nootropics, and natural health. Our mission is to empower you with knowledge to make informed decisions about your health and well-being through our regularly updated blog posts and articles.
    </p>
    <p class="mb-6">
    <h2 class="text-2xl font-heading font-bold mb-4">A Bit About Us </h2>
      We at Vizen are passionate about all things natural health. VIZEN Blog combines scientific research with practical advice to help you achieve optimal health naturally and unlock your true potential.
    </p>

    <p class="mb-6">
    <h2 class="text-2xl font-heading font-bold mb-4">Our Blog Covers</h2>

    <ul class="list-disc list-inside mb-6">
      <li>Alternative Health: Dive into the world of holistic health with us! From acupuncture to chiropractic care, we explore various therapies that aim to treat the root causes of health issues, not just the symptoms.</li>
      <li>Vitamins and Supplements: Get the lowdown on essential nutrients and how they can boost your health. We break down the benefits of different vitamins and supplements, so you can make smart choices for your wellbeing.</li>
      <li>Natural Healthcare: Discover the magic of nature with tips on using herbs, essential oils, and other natural remedies. We also share advice on healthy lifestyle changes like diet and exercise that can make a big difference.</li>
      <li>Latest research and trends in natural health</li>
    </ul>
    </p>

    <p class="mb-6">
      We are committed to providing accurate, up-to-date, and unbiased information through our blog posts to help you navigate the complex world of natural health and supplementation.
    </p>
    <p>
      Thank you for choosing VIZEN Blog as your partner in your journey towards better health.
    </p>
  </div>
</Layout>