---
import SearchBar from "./SearchBar.astro";

const MENU_LINKS = [
  { name: "Home", link: "/" },
  { name: "Blog", link: "/blog" },
  { name: "Categories", link: "/categories" },
  { name: "About", link: "/about" },
  { name: "Contact", link: "/contact" },
];
---

<header class="">
  <div class="container mx-auto px-4 py-4">
    <div
      class="max-w-7xl  mx-auto flex flex-row justify-between items-center"
    >
      <div class="md:mb-0">
        <a
          href="/"
          class="text-2xl font-heading font-bold text-secondary tracking-wide hover:text-secondary transition-colors duration-300"
          >VIZEN Blog</a
        >
      </div>
      <nav class="mb-4 md:mb-0 hidden lg:block">
        <ul class="flex flex-wrap justify-center md:space-x-8">
          {
            MENU_LINKS.map((item) => (
              <li class="mx-2 my-1 md:mx-0 md:my-0">
                <a
                  href={item.link}
                  class="text-text hover:text-secondary transition-colors duration-300 font-medium"
                >
                  {item.name}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <div class="w-full md:w-auto hidden md:block">
        <SearchBar />
      </div>

      <div
        class="max-lg:flex max-lg:items-center ml-auto gap-1 cursor-pointer lg:hidden"
      >
        <button
          id="menu-button"
          class="w-11 h-11 sticky z-[1000] flex justify-center items-center"
        >
          <svg
            width="20"
            height="20"
            viewBox="0 0 32 32"
            fill="none"
            id="menu-svg"
            xmlns="http://www.w3.org/2000/svg"
            class="h-8 w-8"
          >
            <rect x="6" y="9" width="20" height="2" rx="1" fill="currentColor"
            ></rect>
            <rect x="6" y="15" width="20" height="2" rx="1" fill="currentColor"
            ></rect>
            <rect x="6" y="21" width="20" height="2" rx="1" fill="currentColor"
            ></rect>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>

{/* mobile menu*/}
<div
  id="menu-bar"
  class="z-[10] max-lg:flex flex-col absolute top-16 w-full h-screen bg-white transition-all ease-in duration-200"
>
  <!-- links -->
  <div class="p-4">
    <SearchBar />
  </div>
  {
    MENU_LINKS.map((menu) => (
      <div
        class="flex justify-between p-4 sm:px-6"
        style="box-shadow: inset 0 -1px 0 0 #e0e1e6;"
      >
        <a
          href={menu.link}
          class="w-full text-black inline-flex max-md:text-[16px] max-md:leading-[22px] font-medium"
        >
          {menu.name}
        </a>
      </div>
    ))
  }
</div>

<style>
  #menu-bar {
    visibility: hidden;
    opacity: 0;
  }

  #menu-bar.active {
    visibility: visible;
    opacity: 100;
  }

  #menu-button.menu-active {
    overflow: hidden;

    rect:nth-of-type(1) {
      transform: translateY(7px) rotate(45deg);
      transform-origin: 16px 10px;
      transition:
        transform 0.2s ease,
        opacity 0.2s ease;
    }
    rect:nth-of-type(2) {
      opacity: 0;
      transition: opacity 0.2s ease;
    }
    rect:nth-of-type(3) {
      transform: translateY(-5px) rotate(-45deg);
      transform-origin: 16px 22px;
      transition:
        transform 0.2s ease,
        opacity 0.2s ease;
    }
  }
  #menu-button {
    rect:nth-of-type(1) {
      transform-origin: 16px 10px;
      transition:
        transform 0.2s ease,
        opacity 0.2s ease;
    }
    rect:nth-of-type(2) {
      transition: opacity 0.2s ease;
    }
    rect:nth-of-type(3) {
      transform-origin: 16px 22px;
      transition:
        transform 0.2s ease,
        opacity 0.2s ease;
    }
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    let menuBar = document.getElementById("menu-bar") as HTMLElement;
    let menuButton = document.getElementById("menu-button") as HTMLElement;
    let body = document.getElementsByTagName("body")[0] as HTMLElement;
    let header = document.getElementById("header") as HTMLElement;

    window.onscroll = () => {
      if (window.scrollY > 80) {
        header.classList.add("backdrop");
      } else {
        header.classList.remove("backdrop");
      }
    };

    menuButton.addEventListener("click", () => {
      menuBar.classList.toggle("active");
      menuButton.classList.toggle("menu-active");
      body.classList.toggle("menu-active");
    });
  });
</script>
